@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #00030C;
    --cor-branca-principal: #FFFFFF;
    --cor-branca-secundaria: #F9F9F9;
    --cor-cinza-secundaria: #C0C0C0;
    --cor-botao-azul: #167BF7;
    --cor-botao-azul-hover: #4795f5;
    --cor-botao-transparente-hover: #313030a6;


    --fonte-principal: 'Inter', sans-serif;
    --fonte-peso-principal: 700;
    --fonte-peso-secundaria: 400;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-branca-principal);
    font-family: var(--fonte-principal);
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}

.principal__conteudo {
    padding: 0% 10%;
    text-align: center;
    width: 75%;
}

.principal__conteudo__titulo {
    font-weight: var(--fonte-peso-principal);
    font-size: 1.75rem;
    margin-bottom: 1.5em;
}

.principal__conteudo__imagem {
    margin: 1em 0 3em 0;
}

.botao {
    border-radius: 8px;
    padding: 16px;
    display: block;
    font-weight: var(--fonte-peso-secundaria);
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--cor-branca-principal);
}

.botao__primario {
    background-color: var(--cor-botao-azul);
    margin-bottom: 1em;
}

.botao__secundario {
    border: 1px solid;
    text-align: center;
    margin-bottom: 1em;
}

.principal__conteudo__aviso {
    font-weight: var(--fonte-peso-secundaria);
    font-size: 0.75rem;
    color: var(--cor-cinza-secundaria);
}

.secundario {
    padding: 0% 10%;
    align-items: center;
}

.secundario__imagem {
    width: 80%;
}

.secundario__conteudo__titulo {
    font-size: 3rem;
    font-weight: 700;
}

.secundario__conteudo__texto {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-branca-secundaria);
    opacity: 0.8;
    margin-bottom: 1em;
}

.terciario {
    gap: 12em;
} 

.botao__terciario {
    background-color: var(--cor-botao-azul);
    display: inline-block;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-branca-principal);
}

.rodape {
    text-align: center;
    margin-bottom: 6em;
}

.rodape__imagem {
    margin: 2em 0;
}

.rodape__links {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.link {
    text-decoration: none;
    color: var(--cor-branca-principal);
    margin: 1em 0;
}

.rodape__texto {
    font-size: 0.875rem;
    color: var(--cor-cinza-secundaria);
    margin: 2em 0;
}

.link:hover {
    color: var(--cor-botao-azul);
}

.botao__primario:hover {
    background-color: var(--cor-botao-azul-hover);
}

.botao__terciario:hover {
    background-color: var(--cor-botao-azul-hover);
}

.botao__secundario:hover {
    background-color: var(--cor-botao-transparente-hover);
}

@media (min-width: 2000px) {

    .principal {
        background-size: cover;
    }
}