@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root {
    --cor-de-fundo: #00030C;
    --cor-branca-principal: #FFFFFF;
    --cor-branca-secundaria: #F9F9F9;
    --cor-cinza-secundaria: #C0C0C0;
    --cor-botao-azul: #167BF7;

    --fonte-principal: 'Inter', sans-serif;
    --fonte-peso-principal: 700;
    --fonte-peso-secundaria: 400;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-branca-principal);
    box-sizing: border-box;
    width: 100%;
}

.apresentacao__principal {
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-position: right; 
    background-size: cover;
    height: 100vh;
}

.apresentacao__principal__conteudo {
    padding: 10% 5%;
    width: 32%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
}

.apresentacao__principal__conteudo__titulo {
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-peso-principal);
    font-size: 1.75rem;
}

.apresentacao__principal__conteudo__botao__azul {
    background-color: var(--cor-botao-azul);
    border-radius: 8px;
    width: 80%;
    padding: 16px;
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-peso-secundaria);
    font-size: 1rem;
    text-decoration: none;
    color: var(--cor-branca-principal);
}

.apresentacao__principal__conteudo__botao__preto{
    border: 1px solid;
    border-radius: 8px;
    width: 80%;
    padding: 16px;
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-peso-secundaria);
    font-size: 1rem;
    text-decoration: none;
    color: var(--cor-branca-principal);
}

.apresentacao__principal__conteudo__paragrafo {
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-peso-secundaria);
    font-size: 0.75rem;
    color: var(--cor-cinza-secundaria);
}